@media screen and (max-width:400px) {
    .nav-container{
       
        flex-direction: column;
       
       
    }
    .nav-items-container {
       flex-direction: column;
       width: 90%;
    }
    .nav-container .logo{
        
       width: auto;
    }
    .nav-items-container a{
        margin-top: 20px;
    }
    .nav-items-container .follow{
        width: 50%;
        margin-bottom: 10px;
    }
    
}
.display{
    display: none;
}