@media screen and (max-width:400px) {
    .nav-container{
       
        flex-direction: column;
       
       
    }
    .nav-items-container {
       flex-direction: column;
       width: 90%;
    }
    .nav-container .logo{
        
       width: auto;
    }
    .nav-items-container a{
        margin-top: 20px;
    }
    .nav-items-container .follow{
        width: 50%;
        margin-bottom: 10px;
    }

    /* responsive nav end */

    .banner-container{
        flex-direction: column-reverse;
        gap: 20px;
       
        
    }

    .left-content-text{
        /* border: 2px solid tomato; */
        margin: 0 auto;
       
    }
    .banner-content-left,.banner-content-right {
        width: 100%;
        margin: 0 auto;
    }

    .banner-content-right img{
        width: 300px;
        margin: 0 auto;
        margin-top: 30px;
    }

   .banner-title{
    font-size: 2rem;
   }
   .banner-main-title{
    font-size: 3rem;
   }


   /* banner section end */



   


   .online-game-section 
   
   {
    flex-direction: column;
   
   }
  .card-container{
    flex-direction: column;
    width: 90%;
    margin-left: 5%;

  }



  /* play section */

  .play-instantly-section {
    width: 100%;
  }
.play-section-container{
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;

}


.play-section-right img{
    width: 300px;
}

}






.display{
    display: none;
}